<% content_for :template_head do %>

	<title>Ric Roberts: Ruby and JavaScript developer, Manchester, UK.</title>

  <%= render :partial => "head" %>
	
<% end %>

<%= render :partial => 'twitter' %>

<div class="container_12">
	
  <%= render :partial => "masthead" %>
	
	<div id="content">
	  
		<div class="grid_8 main">
		  <%if @articles%>
			  <% @articles.each do |article|%>
          <%= render :partial => 'post_preview', :locals => {:article => article}%>
			  <% end %>
			  <%= pagination_links() %>
			<%end%>
		</div> 
		<%= render :partial => 'sidebar' %>
  </div>

	<%= render :partial => 'copyright'%>

</div>

<%= render :partial => "analytics" %>


