<% content_for :template_head do %>

  <title>Ric Roberts - <%= h(@article.title) %></title>

  <%= render :partial => "head" %>

	<script type="text/javascript">
	   <%= "var disqus_developer = 1;" if Rails.env.to_sym == :development %>
	   var disqus_url = '<%= "http://#{@blog.canonical_url}/articles/#{@article.permalink}" %>';
	   var disqus_title = '<%= h(@article.title) %>';
	</script>
	
<% end %>

<%= render :partial => 'twitter' %>

<div class="container_12">
	
	<%= render :partial => "masthead" %>
	
	<div id="content" class="full_post">
	  	
		<div class="grid_8 main">
			<div id="share_this"><script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=8dc79e7f-36e3-4a4c-ba6b-36ee522c00c8&amp;type=website"></script></div>
			<%= render :partial => 'full_post'%>
		</div> 
	  <%= render :partial => 'sidebar' %>
  </div>

  <%= render :partial => 'copyright'%>

</div>

<%= render :partial => "analytics" %>



