<% user = Account.get(article.published_by) -%>
<% published = Time.parse(article.published_at.to_s) %>
<% article_url = full_article_url(article) %>

<% rdfa_article_tag :div, {:class => "post_preview"}, article_url do %>
	<%= rdfa_title_tag :h2, link_to(article.title, hash_for_article_path({:id => article.permalink})) %>
	<div class="post_meta">
		By <%= rdfa_author_tag(:span, user.personal_uri, user.display_name) %>
	  on <%= rdfa_date_tag(:span, published) %>
	</div>
	<div class="post_content">
		<p>
			<%= truncate(strip_tags(textilize(article.content)),:length => 300 ) %>		
		</p>
		<%= link_to "Read the full article", hash_for_article_path({:id => article.permalink}) %>
	</div>
<% end %>
